.section-title {
  text-align: center;
  margin-bottom: 35px;
  flex: 1;
}
.section-title h2 {
  font-size: 32px;
  font-weight: 600;
}
/*! categories start */
.categories {
  margin: 40px 0;
}
.categories .category-list {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
}
/*! categories end */

/*! product strat  */
.products {
  margin-bottom: 40px;
}

.products .product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/*! product end  */

/*! campaigns start */
.campaigns .campaigns-wrapper {
  display: flex;
  gap: 30px;
  margin: 30px 0;
  flex-wrap: wrap;
}
/*! campaigns end */

/*! blogs start */

.blogs .blog-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

@media (max-width: 768px) {
  .blogs .blog-list {
    grid-template-columns: 1fr;
  }
}

/*! blogs end */
